{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}" palette="{{g.opts.palette}}">
<head>
{% include '_head_.html' %}
</head>

<body class="cover" style="{{meta.background.style}}">
  <div class="wrapper">
    <a href="{{meta.entrance.link|url}}"
       class="entrance {{meta.entrance.class}}">
      {% if meta.featured_img.src %}
      <img src="{{meta.featured_img.src}}" 
           alt="{{meta.featured_img.title}}" />
      {% else %}
      <span>{{meta.entrance.title|s or site_meta.title}}</span>
      {% endif %}
    </a>
  </div>
  {% include '_cr_.html' %}
</body>
</html>
