{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
{% include '_head_.html' %}
</head>

<body style="{{meta.background.style or site_meta.bg.style}}">
  {% include '_nav_.html' %}
  <section class="wrapper">
    <div class="container entries">
      <header>
        <h1>{{meta.title}}</h1>
      </header>
      <!-- entries -->
      <div class="row">
        {% for works in meta.attachments %}
        <figure class="col-lg-3 col-md-4 col-sm-6">
          <a href="{{works.src}}" 
             class="img-popup {{works.class}}">
            <img class="img-responsive" 
                 src="{{works.src|thumbnail}}" alt="{{works.title}}" />
          </a>
        </figure>
        {% endfor %}
      </div>
      <!-- #entries -->
      <hr class="row">
    </div>
    {% include '_cr_.html' %}
  </section>
  {% include '_sider_.html' %}
  {% include '_js_.html' %}
</body>
</html>
