{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}" palette="{{g.opts.palette}}">
<head>
{% include '_head_.html' %}
</head>

<body class="{{meta.background.class}}"
      style="{{meta.background.style or site_meta.bg.style}}">
  {% include '_nav_.html' %}
  <section class="wrapper">
    <article class="container paper">
      {% if meta.featured_img.src %}
      <figure>
        <img class="img-responsive"
             src="{{meta.featured_img.src}}" alt="{{meta.title}}">
      </figure>
      {% endif %}
      <header class="upper">
        <h1>{{meta.title}}</h1>
      </header>
      <div class="date">
        {{meta.date|date_formatted}}
      </div>
      <hr class="row">
      <!-- content -->
      <div class="content">
        {{content}}
      </div>
      <!-- #content -->
      <!-- extensions -->
      {{slots.comment or ''}}
      <!-- #extensions -->
      <!-- entries -->
      <div class="row">
        {% for pic in meta.attachments %}
        <figure class="col-md-2 col-xs-3">
          <a href="{{pic.src}}" class="img-popup">
            <img class="img-responsive"
                 src="{{pic.src|thumbnail}}" alt="{{pic.title}}"/>
          </a>
        </figure>
        {% endfor %}
      </div>
      <!-- #entries -->
      <!-- paginator -->
      {% set channel = magnet(pages|type('post'), meta) %}
      <div class="paginator clearfix">
        <div class="text-left">
          <div class="ln next {{'disabled' if not channel.before}}">
            <a href="{{channel.before.url or '#'}}">{{_('Forward')}}</a>
          </div>
        </div>
        <div class="text-right">
          <div class="ln prev {{'disabled' if not channel.after}}">
            <a href="{{channel.after.url or '#'}}">{{_('Previous')}}</a>
          </div>
        </div>
      </div>
      <!-- #paginator -->
      <hr class="row">
    </article>
    {% include '_cr_.html' %}
  </section>
  {% include '_sider_.html' %}
  {% include '_js_.html' %}
</body>
</html>
